{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel=stylesheet href="{% static 'css/navigationsbar3.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
Kommentar erstellen
{% endblock %}



{% block content %}
<!-- Kommentar hinzufügen html -->
<div id="submissionField">
  <h2>Kommentar hinzufügen:</h2>
  <hr>
    <div class="comment-group">
      <form method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <br>

        <button class="btn btn-secondary">
          Kommentar hinzufügen
        </button>
    </div>
  </form>	
</div>

<script src="//cdn.ckeditor.com/4.17.1/standard/ckeditor.js"></script>
<script>
	CKEDITOR.replace( 'id_kommentar' );
</script>
{% endblock %}