{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar2.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
  Neue Frage stellen
{% endblock %}

{% block content %}

<div id="submissionsField">
	<div class="container" style="text-align: center;">
		<form class="create-form" method="post" >{% csrf_token %}
				<div class="form-group">
					<label for="id_title" id="titleID">Titel</label>
					<input class="form-control" type="text" name="Titel" id="id_title" placeholder="Titel der Frage, mit einem # zur kategorisierung" required autofocus>
				</div>

				<div class="form-group">
					<label for="id_body" id="bodyID">Inhalt</label>
					<textarea class="form-control" rows="10" type="text" name="Inhalt" id="id_body" placeholder="Stellen Sie hier ihre Frage..." required></textarea>
				</div>
			<button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Frage stellen</button>
		</form>	
	</div>
</div>

{% endblock content %}