{% extends 'base.html' %}
{% load static %}


{% block link %}
<link rel=stylesheet href="{% static 'css/navigationsbar3.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
Kommentar erstellen
{% endblock %}



{% block content %}
<div id="submissionsField">
  <h2>Unterkommentar hinzufügen:</h2>
  <hr>
    <div class="comment-group">
      <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <br>

        <button class="btn btn-secondary">
          Unterkommentar hinzufügen
        </button>
    </div>
  </form>	
</div>
{% endblock %}