{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/anmelden_stylen.css' %}"/>
  <title>Registrieren</title>
</head>
<body>

<div class="container">
  <img src="../static/bilder/logo.jpeg">
  <h1>Registrieren - Mitarbeiterforum</h1>
  <span style="width:150px; display: inline-block;">Vorname:</span><input type="vorname" name="name" placeholder="vorname"><br>
  <span style="width:150px; display: inline-block;">Nachname:</span><input type="nachname" name="surename" placeholder="nachname"><br>
  <span style="width:150px; display: inline-block;">Geburtsdatum:</span><input type="Geburtsdatum" name="birthdate" placeholder="geburtsdatum"><br>
  <span style="width:150px; display: inline-block;">Abteilung:</span><input type="abteilung" name="department" placeholder="abteilung"><br>
  <span style="width:150px; display: inline-block;">Benutzername:</span><input type="benutzername" name="username" placeholder="benutzer"><br>
  <span style="width:150px; display: inline-block;">Passwort:</span><input type="password" name="password" id="myInput" placeholder="passwort"><br>
  <span style="width:150px; display: inline-block;">Passwort bestätigen: </span><input type="password" name="password" id="myInput2" placeholder="passwort wiederholen"><br>
  <input type="checkbox" onclick="myFunction()">Passwort anzeigen<br>
  <button type="submit" name="submit" class="button">Anmelden</button><br>
  <a href="{% url 'login' %}">
    Zum Login
  </a>
</div>

<script>
  function myFunction() {
    var x = document.getElementById("myInput");
    var y = document.getElementById("myInput2");
    if (x.type === "password" && y.type == "password") {
      x.type = "text";
      y.type = "text";
    } else {
      x.type = "password";
      y.type = "password";
    }
  }
</script>

</body>
</html>