{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
  Authentifizierung
{% endblock %}

{% block content %}
<!-- Wenn nicht Authentifiziert bzw. eingeloggt html-->
<div class="card ml-auto" id="submissionField" style="width: 20rem;">
    <img class="card-img-top" src="../static/bilder/logo.jpeg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Keine Authentifizierung!</h4>
      <p class="card-text">Um auf das Forum zugreifen zu können, müssen Sie sich einloggen oder registrieren.</p>
      <a onclick="location.href= '/login'" class="btn btn-primary" role="button">Login</a>
      <a onclick="location.href= '/registrieren'" class="btn btn-primary" role="button">Registrieren</a>
    </div>
  </div>
</div>

{% endblock %}