{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar.css' %}"/>
{% endblock %}

{% block title %}
  Authentifizierung
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex flex -column">
        <p class="m-auto">Sie müssen authentifizert sein, um diese Seite zu sehen</p>
        <p class="m-auto">
            <a href="/register">Registrieren</a>
            <a href="/login">Anmelden</a>
        </p>
    </div>
    
</div>

{% endblock %}