
{% extends 'base.html' %}
{%load static%}
{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar2.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
  Forum-Details
{% endblock %}



{% block content %}

<div id="submissionsField">
  <h1 style="color: #3e5fc2;">Details zu:</h1>
  <h1>{{post.Titel}} </h1>
  <small id="titlePost">
    Autor: {{post.Autor.username}}
    

    {% if user.username == post.Autor.username %}
    - <a href="{% url 'update-blog' post.pk %}">Post ändern</a>
    {% else %}
     <h1></h1>
   {% endif %}
   
  </small>

  <div>
    <form action ="{%url 'dislike_post' post.pk%}"
        method="POST">
          {%csrf_token%}
          <button style="margin-left: 5px;" value={{post.id}} class="btn btn-danger btn-sm float-right" type="submit" name="dislike_id" href="{%url 'addcomment' post.pk%}">Dislike Post</button>
    </form>
  </div>
  <div>
      <form action ="{% url 'like_post' post.pk %}" method="POST">
          {%csrf_token%}
          <button style="margin-left: 5px;" class="btn btn-info btn-sm float-right" value={{post.id}} type="submit"  name="post_id" href="{% url 'addcomment' post.pk%}">Like Post <span class ="badge badge-light">{{post.getTotalLikes}}</span></button>
      </form>
  </div>
  <br/>
  <hr>
  <br/>
  <h5 id="inhaltPost">
    {{post.Inhalt|safe}}
  </h5>
  <br/>
  <br>
  <hr>
  <div class="input-group mb-3">
    <a class="btn btn-success" type="button" id="button-addon2" href="{% url 'addcomment' post.pk %}" >Antworten</a>
  </div>
  <br>
  <h2>Kommentare</h2>

  {% if post.kommentare.all%}


  {% if not post.kommentare.all %}
    Es sind noch keine Kommentare für diese Frage gestellt worden <a href="#">Sei der Erste!</a>
    <br>
    <br>
    <hr>
  {% else %}

  {% for Kommentar in post.kommentare.all %}
  <div>
    <section>
      <h6>
        {{Kommentar.name}} - 
        {{Kommentar.date_added}}
        <i class="fas fa-comment-dots"></i>
      </h6>
      <br>
      <h6>
        &#9492; {{Kommentar.kommentar|safe}}
        <br>
        {{Kommentar.getKommentarLikes}} <i class="far fa-thumbs-up"></i>
      
      <!--Kommentar Button-->  
      <!--Es muss auf spezifischen kommentar zugrgriffen werden können(sozusagen kommentar.id)+ Kommentarfunktion für spezifischen Kommentar muss gebaut werden, am besten in der Seite und nicht über seperates Form-->
      <!--Like und Kommentier Buttons für Kommentar gruppiert-->
      <div class="btn-toolbar float-right" role="toolbar" aria-label="KommentarButtons">
        <div class="btn-group mr-2 float-right" role="group" aria-label="KommentarLikeButton">
          <form action ="{% url 'kommentar_likes' post.pk Kommentar.id  %}"
          method="POST">
              {%csrf_token%}
              <button type="submit",name="kommentar_id", value="{{kommentar.id}}", class="btn btn-light btn float-right"><i class="far fa-thumbs-up"></i></button>
          </form>
        </div>
        <div class="btn-group mr-2 float-right" role="group" aria-label="KommentarDislikeButton">
        <form action="{% url 'kommentar_dislikes' post.pk Kommentar.id %}"
          method="POST">
            {%csrf_token%}
            <button name = "KommentarDislikes",value={{kommentar.id}}, class="btn btn-light btn float-right"> <i class="far fa-thumbs-down"></i></button>
          </form>
        </div>
        <div class="btn-group mr-2 float-right" role="group" aria-label="KommentierenButton">
          <a class="btn btn-light btn float-right" type="button"  id="button-addon2" href="{% url 'addsubcomment' post.pk Kommentar.id %}">
          <i class="fas fa-edit"></i>   
        </a>
        </div>
      </div>
      </h6>
      <br>
    </section>
    {% for unterkommentare in Kommentar.pkKommentar.all %}
      <div class ="unterkommentare">
        <h6>
          &#9492; {{unterkommentare.name}} - 
          {{unterkommentare.date_added}}
          <i class="far fa-comment-dots"></i>
        </h6>
        <br>
        <h6 style="margin-left: 1rem;">
          {{unterkommentare.unterkommentar|safe}}
          <br>
          {{unterkommentare.getUnterkommentarLikes}}
          <i class="far fa-thumbs-up"></i>
        </h6>
           <!--Like buttons für Unterkommentar Gruppiert-->
        <div class="btn-toolbar float-right" role="toolbar" aria-label="KommentarButtons"> 
          <div class="btn-group mr-2 float-right" role="group" aria-label="KommentierenButton">
            <form action ="{% url 'unterkommentar_likes' post.pk unterkommentare.id %}" 
             method ="POST">
              {%csrf_token%}
              <button type="submit", name= "ukLikes", value="unterkommentare.id", class="btn btn-light btn-sm float-right"> <i class="far fa-thumbs-up"></i></button>
             </form>
          </div>
          <div class="btn-group mr-2 float-right" role="group" aria-label="KommentierenButton">
           <form action="{% url 'unterkommentare_dislikes' post.pk unterkommentare.id %}"
            method="POST">
              {%csrf_token%}
              <button type="submit", name = "ukDislikes", value="unterkommentare.id", class="btn btn-light btn-sm float-right"> <i class="far fa-thumbs-down"></i></button>
           </form>
          </div>
        </div>
        <br><br>
      </div>
    {% endfor %}
  <hr style="margin-top: 5px;">
  </div>

  {% endfor %}
{% endif %}
{%endif%}

<a href="{% url 'forum' %}" class="btn btn-outline-primary"> Zurück zum Forum </a>
</div>

{% endblock %}
