{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar2.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
  Forum-Details
{% endblock %}



{% block content %}

<div id="submissionsField">
<h1>Details zu: {{post.Titel}} </h1>
<small>Autor: {{post.Autor.username}}
</small>
<hr>
<br/>
{{post.Inhalt}}
<br/>
<br/>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Antwort verfassen.." aria-label="Recipient's username" aria-describedby="button-addon2">
    <a class="btn btn-success" type="button" id="button-addon2" href="{% url 'addcomment' post.pk %}" >Antworten</a>
  </div>

<br/>
<br/>

<h2>Kommentare...</h2>
{% if post.kommentare.all%}
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Beitrag Kommentieren" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Senden</button>
</div>

{% if not post.kommentare.all %}
  Es sind noch keine Kommentare für diese Frage gestellt worden <a href="#">Sei der Erste!</a>
  <br><br>
  <hr>
{% else %}

  {% for Kommentar in post.kommentare.all %}
    <strong>
      {{Kommentar.name}} - 
      {{Kommentar.date_added}}
  </strong>
  <br>
    {{Kommentar.content}}
    <div class="input-group mb-3" align="right">
    <button class="btn btn-outline-secondary btn-sm pull-right" type="button"  id="button-addon2" onclick="{% url 'addcomment' post.pk%}">Kommentieren</button>
  </div>
  <br><br>
  <hr>
  {% endfor %}
{% endif %}
{%endif%}

<a href="{% url 'forum' %}" class="btn btn-outline-primary"> Zurück zum Forum </a>
</div>

{% endblock %}