{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar2.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
  Forum
{% endblock %}

{% block content %}

<div id="submissionsField">
<div class="container" style="text-align: center;">
  <img src="../static/bilder/logo.jpeg" class="rounded float-end" width="150px" height="150px">
  <h1>User Posts:</h1>
  <br/>
  <a class="btn btn-outline-success" href="/addpost" role="button">Neue Frage stellen</a>  
  <br/><br/>
</div>

{% for post in object_list %}
<div class="card mx-auto mt-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'blog-details' post.pk %}">{{post.Titel}}</a></h5>
    <h6 class="card-subtitle mb-2 text-muted">Erstellt von {{post.Autor.username}}</h6>
  </div>
</div>

{% endfor %}
</div>
{% endblock %}