{% extends 'base.html' %}
{% load static %}

{%block link%}
<link rel=stylesheet type="text/css" href="{% static 'css/navigationsbar.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{%endblock%}

{% block content %}

<div class="card ml-auto" id="submissionsField" style="width: 20rem;">
  <img class="card-img-top" src="../static/bilder/logo.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Herzlich Wilkommen bei der Robotic Consulting</h5>
    <p class="card-text"><marquee scrollamount="4" scrolldelay="30" direction="left" >Erstellt von: Maurice Neidhart, Phillip Kunze 65911, Timon Clauß, Daan Koser 75208, Christian Schneider, Ronny Lutz</marquee></p>
    <a onclick="location.href= '/login'" class="btn btn-primary" role="button">Loslegen</a>
    <a class="btn btn-primary" href="https://github.com/Maurice73-Tech/Programmier_Seminar" role="button"><i class="fab fa-github"></i></a>
  </div>
</div>

{%endblock%}