{% extends 'base.html' %}
{% load static %}

{%block link%}
<link rel=stylesheet type="text/css" href="{% static 'css/navigationsbar.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}"/>
{%endblock%}

{% block content %}

<div class="card ml-auto" id="submissionsField" style="width: 20rem;">
  <img class="card-img-top" src="../static/bilder/logo.jpeg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Herzlich Wilkommen bei der Robotic Consulting</h5>
    <p class="card-text"><marquee scrollamount="10" scrolldelay="50" direction="left" >Erstellt von: Maurice Neidhart, Phillip Kunze, Timon Clauß, Daan Kooser, Christian Schneider, Ronny Lutz</marquee></p>
    <a onclick="location.href= '/login'" class="btn btn-primary">Loslegen</a>
  </div>
</div>

{%endblock%}