{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/anmelden_stylen.css' %}"/>
  <title>Welcome</title>
</head>
<body>

<div class="container">
  <img src="../static/bilder/logo.jpeg">
  <h1>Herzlich Wilkommen bei ITConsulting</h1>
  <h1><marquee scrollamount="10" scrolldelay="50" direction="left" >Erstellt von: Maurice Neidhart, Phillip Kunze, Timon Clauß, Daan Kooser, Christian Schneider, Ronny Lutz</marquee>  </h1>
    <button type="getStarted" name="getStarted" class="button" onclick="location.href= '/login'">Get Started!</button><br>


</div>

</body>
</html>