{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/anmelden_stylen.css' %}"/>
  <title>Login</title>
</head>
<body>

<div class="container">
  <img src="../static/bilder/logo.jpeg">
  <h1>Login - Mitarbeiterforum</h1>
  <span style="width:150px; display: inline-block;">Benutzername:</span><input type="benutzername" name="username" placeholder="benutzer"><br>
  <span style="width:150px; display: inline-block;">Passwort:</span><input type="password" name="password" placeholder="passwort"><br>
  <button type="submit" name="submit" class="button">Einloggen</button><br>
  <a href="{% url 'registrieren' %}">
    Zur Anmeldeseite
  </a>
  <p></p>
  <a href="{% url 'impressum' %}">
    Impressum
  </a>
</div>

</body>
</html>