{% extends 'base.html' %}
{% load static %}

{% block title %}
Login
{% endblock %}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar.css' %}" />
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now " U" %}" />
{%endblock%}

{% block content %}


<div id="submissionsField">
  <div class="container">
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center flex-column">
            <img src="../static/bilder/LogoOhneText.jpeg" class="rounded float-end center" height="200px"><br>
            <h3 id="form-title" style="text-align: center;">LOGIN</h3>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form method="POST" action="">
              {% csrf_token %}
              <h6>Username:</h6>
              <div class="input-group mb-3">
                <input type="text" name="username" placeholder="Username..." class="form-control">
              </div>
              <h6>Passwort:</h6>
              <div class="input-group mb-3">
                <input type="password" id="exampleInputPassword1" name="password" placeholder="Passwort..." class="form-control">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" onclick="myFunction()">
                <label class="form-check-label" for="exampleCheck1">Passwort anzeigen</label>
              </div>
              <div class="d-grid gap-2 col-6 mx-auto">
                <input class="btn btn-primary" onclick="window.location='/forum';" type="submit" value="Einloggen">
               
                <a href="/registrieren" style="margin-left: 6px;">Registrieren</a>
              </div>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--JS Function to show passwords-->
<script>
  function myFunction() {
    var x = document.getElementById("exampleInputPassword1");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

{% endblock %}