{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar2.css' %}"/>
<link rel=stylesheet type="text/css" href="{% static 'css/anmeldenstyle.css' %}?{% now "U" %}"/>
{% endblock %}

{% block title %}
  Profil
{% endblock %}

{% block content %}

<div id="submissionsField" >
<div id="ueberschrift" style="text-align: center;" >
<h1><i class="far fa-user"></i> Profilseite von {{user.username}}</h1>
</div>
<form method="POST" enctype="multipart/form-data" >
    {%csrf_token%}
    <img src="{{user.profile_pic.url}}" id="profilbild-id">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
                <div class="row pad">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="card-body">
                            <ul class="list-group" >
                            
                                <li class="list-group-item">
                                    <b>Username:</b> {{user}}<strong class="float-right"></strong> 
                                </li>
                                <li class="list-group-item">
                                    <b>Vorname:</b> {{user.vorname}}<strong class="float-right"></strong> 
                                </li>
                                <li class="list-group-item">
                                    <b>Nachname:</b> {{user.nachname}}<strong class="float-right"></strong> 
                                </li>
                                <li class="list-group-item">
                                    <b>Email:</b> {{user.email}}<strong class="float-right"></strong>
                                </li>
                                <li class="list-group-item">
                                    <b>Abteilung:</b> {{user.abteilung}}<strong class="float-right"></strong> 
                                </li>
                                <li class="list-group-item">
                                    <b>Aktiv:</b> {{user.is_active}}<strong class="float-right"></strong>                           
                                </li>
                                <li class="list-group-item">
                                    <b>Mitarbeiter:</b> {{user.is_staff}}<strong class="float-right"></strong>                           
                                </li>
                                <li class="list-group-item">
                                    <b>Geburtsdatum:</b> {{user.geburtsdatum}}<strong class="float-right"></strong>                           
                                </li>
                                <li class="list-group-item">
                                    <b>Registriert seit:</b> {{user.date_joined}}<strong class="float-right"></strong>                           
                                </li>
                                <li class="list-group-item">
                                    <b>Letzter login:</b> {{user.last_login}}<strong class="float-right"></strong>                           
                                </li>
                                <br>
                                {% if messages %}
                                {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                                
                                <div class="alert alert-primary" role="alert"> {{ message }}</div>
                                {% endif %}
                
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                <div class="alert alert-danger" role="alert"> {{ message }}</div>
                            
                                {% endif %}
                                {% endfor %}
                                {% endif %}

                                <div class="input-group mb-3">
                                    <a class="btn btn-success" type="button" id="button-addon2" href="{% url 'profile_edit' %}" >Profil updaten</a>
                                </div>
                            </ul>
                        </div>
                        </div>
                    </div>
                    
                    </div>
                </div>


        </div>
    </div>
</form>
</div>


{% endblock %}