{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel=stylesheet href="{% static 'css/navigationsbar2.css' %}"/>
{% endblock %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="row pad">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Email: {{forms.EmailField}}<strong class="float-right"></strong>
                            </li>
                            <li class="list-group-item">
                                Username: {{user}}<strong class="float-right"></strong> 
                            </li>
                            <li class="list-group-item">
                                Vorname: {{user.vorname}}<strong class="float-right"></strong> 
                            </li>
                            <li class="list-group-item">
                                Nachname: {{user.nachname}}<strong class="float-right"></strong> 
                            </li>
                              <li class="list-group-item">
                                Abteilung: {{user.abteilung}}<strong class="float-right"></strong> 
                            </li>
                            <li class="list-group-item">
                                Anzahl der Beiträge: <strong class="float-right"></strong>                           
                            </li>
                            <li class="list-group-item">
                                Registriert seit: {{user.date_joined}}<strong class="float-right"></strong>                           
                            </li>
                            <li class="list-group-item">
                                Aktiv: {{user.is_active}}<strong class="float-right"></strong>                           
                            </li>
                            <li class="list-group-item">
                                Mitarbeiter: {{user.is_staff}}<strong class="float-right"></strong>                           
                            </li>
                            <li class="list-group-item">
                                Letzter login: {{user.last_login}}<strong class="float-right"></strong>                           
                            </li>
                            <li class="list-group-item">
                                Geburtsdatum: {{user.geburtsdatum}}<strong class="float-right"></strong>                           
                            </li>
                            <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Profil bearbeiten</button> </div>
                        </ul>
                    </div>
                    </div>
                </div>
                
                </div>
            </div>


    </div>
</div>
</div>
{% endblock %}