{% extends 'base.html' %}
{%load static%}

{%block link%}
<link rel="stylesheet" href={% static 'css/navigationsbar.css'%}/>
{%endblock%}

{% block content %}
<h3>Registrieren</h3> <br>

<form class="create-form" method= "POST">{% csrf_token %}
    
    <div class="row">
        <div class="col">
          <input type="text" name="vorname" class="form-control" placeholder="Vorname" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" name="nachname" class="form-control" placeholder="Nachname" aria-label="Last name">
        </div>
      </div>
   
   <br>
    
    <input type="text" name="username" class="form-control" id="floatingInput3" placeholder="Username eingeben">
    <br>

    <input type="date" name="geburtsdatum" class="form-control" id="floatingInput4" value="2000-01-01" >
    <br>

    <input type="email" name="email" class="form-control" id="floatingInput5" placeholder="name@beispiel.com">
   
    <br>
    <input type="password" name="password1" class="form-control" id="floatingInput6" placeholder="Passwort eingeben">
    <br>

    <input type="password" name="password2" class="form-control" id="floatingInput7" placeholder="Passwort wiederholen">
    <br>

    
        <label for="floatingSelect">Hier noch die Abteilung auswählen:</label>
        <select class="form-select" name="abteilung" id="floatingSelect" aria-label="Floating label select example">
          <option selected>Auswahl</option>
          <option value="1">IT</option>
          <option value="2">Support</option>
          <option value="3">Privatsache</option>
        </select>
    
    
      

    
    
    {% for field in registrierungs_form %}
        <p>
            
           
            {% if field.help_text %}
                <small style="color: grey;">{{field.help_text}}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red;">{{field.help_text}}</p>
            {% endfor %}

        </p>
    {% endfor %}
    <!--
    <button type= "submit">Registrieren</button>
    -->
    <button class="btn btn-success" type="submit">Registrieren</button>
    <a class="btn btn-primary" href="/login" role="button">Zum Login</a>
</form>
{% endblock %}