@media (prefers-color-scheme: dark) {
    body {
      background: #121212;
    }

    #submissionsField{
        width: 100%;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 15px 15px 15px 15px;
        background: #121212;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        border: 1px solid rgb(216, 221, 230);
        box-shadow: 0 0 1em grey;
    }

    #form-title{
        color: white;
    }

    h6{
        color: white;
    }

    .form-check-label{
        color: white;
    }
    
    input{
        margin-top: 5px;
    }
    
    a:not([href]):not([tabindex]) {
        color: white;
    }
    
    .btn-primary{
        cursor: pointer;
    }
    
    a:not([href]):not([tabindex]):hover{
        color: white;
    }

    .navbar-dark .navbar-toggler{
        border-color: transparent;
    }

    .container :is(h1, h2, h3, h4, h5, h6){
        color: white;
    }

    .container :is(#titleID, #bodyID, #titlePost, #inhaltPost){
        color: white;
    }

    .card{
        background-color: rgb(24, 27, 29);
    }

    .card-text{
        color: white;
    }

    #searchInput{
        margin-bottom: 20px;
    }
    
    #myList{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

@media (prefers-color-scheme: light) {

body{
    background-color: whitesmoke;
}

#submissionsField{
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 15px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    border: 1px solid rgb(216, 221, 230);
    box-shadow: 0 0 1em grey;
}

input{
    margin-top: 5px;
}

a:not([href]):not([tabindex]) {
    color: white;
}

.btn-primary{
    cursor: pointer;
}

a:not([href]):not([tabindex]):hover{
    color: white;
}

.navbar-dark .navbar-toggler{
    border-color: transparent;
}

#searchInput{
    margin-bottom: 20px;
}

#myList{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
}